@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Navbar */
.navbar {
  background-color: #28a745;
}
.navbar ul li a {
  font-size: 20px;
}
.navbar-toggler {
  background-color: #fff;
}

.navbar-toggler-icon {
  background-color: #808080;
  height: 1%;
  display: block;
  padding: 5px;
  margin: 2px;
}
.fa-paw {
  color: #28a745;
}
/* Headings */

.general-heading {
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  color: #fff;
}
.section-heading {
  font-family: "lobster", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.footer h6 {
  margin-top: 10px;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #28a745;
  padding-bottom: 20px;
}
.footer-list-contact {
  text-align: center;
  margin: 0;
  padding: 0;
}
.footerlist-1 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footerlist-2 {
  text-align: right;
  margin: 0;
  padding: 0;
}

.social-links {
  text-align: center;
}

.contact-us {
  padding: 0;
  margin: 0;
  float: center;
}
.footer ul li a {
  color: #fff;
}

.social-link {
  color: #fff;
  font-size: 5vh;
  padding: 15px 10px 5px 10px;
  float: center;
}

/* --------Hero Image----------- */

.hero-image {
  background-image: url(https://twobitcliff.github.io/jifsrescue/assets/images/pigs.jpg);
  height: 750px;
 
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
}

.line-break {
  display: block;
  border: 1px solid #28a745;
  width: 50%;
}
/* Events */
/* https://dev.to/peterc/how-to-create-joined-bulletpoint-lists-with-css-bbc-news-style-1eem */

dl:before {
  background-color: #28a745;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}

dl {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 20px;
}

.volunteer-image img {
  max-height: 100%;
  max-width: 100%;
}

.volunteer-image {
  height: 300px;
  text-align: center;
  display: block;
}

.contact-form-card {
  justify-content: center;
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

/* https://mdbootstrap.com/docs/jquery/sections/contact/ */

.contact-header {
  background-color: #28a745;
  color: #fff;
  text-align: center;
}

.contact-form-btn {
  background-color: #28a745;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* about */

.about-section {
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 15vh;
  width: 80%;
}

.carousel-inner, .carousel-item, .carousel-item-img {
  max-height: 65vh;
}

.events-rescues {
  margin-top: 20px;
  margin-bottom: 20px;
}

.volunteer-item {
  margin: 10px 5px 10px 5px;
}


/* animals */

.animal-name {
  text-align: center;
  font-family: "Asap", sans-serif;
}

.animal-text {
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.animal-card-body {
  margin-bottom: 10px;
}

.adoption-btn {
  background-color: #28a745;
  font-family: "Asap", sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.animal-card {
  position: relative;
  display: flex;
  min-width: 0;
  margin: 20px auto 20px;
  
}

.card-img-top {
  display: flex;
  height: 190px;
  width: 100%;
  position: relative;
}

/* Volunteers */

.card-img {  
  object-fit: cover;  
  position: relative;
 height: 100%;
 width: 100%;
}

.volunteer-card {
  position: relative;
  display: flex;
  min-width: 0;
  margin: 0px auto 0px;
  text-align: center;
  
  
}

.volunteer-card li {
    list-style-type: none;
   justify-content: center;
   text-align: left;
   padding-left: 42px;
   
}

.card {
    border: solid #28a745 1px; 
}

body {
    background-color: #f8f8ff
}
/* transitions and animations */
@media only screen 
and (min-width : 1224px) {
  
.animal-card:hover, .volunteer-card:hover {
  transform: scale(1.1);
  transition-duration: .5s;
  touch-action: none;  
}
}
.volunteer-image { 
    min-height: 100%;
    margin-bottom: 3vh;
    border-radius: 20%;
       
}

.alert {
    text-align: center;
    font-family: "Asap", sans-serif;
}

